<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notty</title>
    <div>
        <a href='/' style="font-size:40px">X</a>
        <h1 style="display:inline">Notty</h1>
    </div>
</head>
<body>


    <br>
    <p>현재 역 위치 : {{ obj }}</p>
    <div class="box">
        <div style="border:1px solid; padding:10px;"> 경로 </div>

    </div>






</body>
</html>