<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notty</title>
    <div>
        <a href='/' style="font-size:40px">X</a>
        <h1 style="display:inline">Notty</h1>
    </div>
</head>
<body>


    <br>
    <p>현재 역 위치 : 
            {% for o in obj %}
                {{ o.STATION_NM}}
                {{ o.LINE_NUM }}
            {% endfor %}
    </p>
    <div class="box">
        <div style="border:1px solid; padding:10px;">     
            {% for o in obj %}

                {{ o.STATION_NM}}
                ( 코드 : {{ o.STATION_CD}} )   
            {% endfor %}
            
            {% for o in gps_obj %}

              x : {{ o.x}} y : {{ o.y}}
            {% endfor %}
            
            <br>
            {% for o in dest_obj %}
                {{ o.STATION_NM}}
                ( 코드 : {{ o.STATION_CD}} )  
            {% endfor %}

        </div>
        test {{gps_obj}}
        {{gps_x}}
    </div>
    


</body>
</html>