<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notty</title>
    <div>
        <a href='/' style="font-size:40px">X</a>
        <h1 style="display:inline">Notty</h1>
        <a href='/setting/' style="font-size:40px">=</a>
    </div>
    <meta http-equiv="refresh" content= "15 ; url=/sht">

</head>
<body>
    <br>
    시간표 : {{sht_joined_time_table_list.0}} {{sht_joined_time_table_list.1}} {{sht_joined_time_table_list.2}}
    <br>
    {% if real_time_line == '1호선'%}
    1호선
    {% elif real_time_line == '2호선'%}
    2호선
    {% elif real_time_line == '3호선'%}
    3호선
    {% elif real_time_line == '4호선'%}
    4호선
    {% elif real_time_line == '5호선'%}
    5호선
    {% elif real_time_line == '6호선'%}
    6호선
    {% elif real_time_line == '7호선'%}
    7호선
    {% elif real_time_line == '8호선'%}
    8호선
    {% elif real_time_line == '9호선'%}
    9호선
    {% else %}
    {% endif %}
    
    <br>
    <a href='/sht_detail'>상세 정보</a>
    <br>
    {{real_time_position}}
    <br>

    <br>
    {% if real_time_position != destword %}
        다음 역 : {{next_station}}
    {% else %}
        목적지에 도착했습니다.
    {% endif %}
</body>
</html>